header {
    height: 100%;

    display: flex;
    flex-direction: column;

    background-image: url(../images/header-background.svg);
    background-position: center;
    background-size: cover;

    .header-content {
        display: flex;

        .main-header-content {
            display: flex;
            flex-direction: column;
        }

        canvas {
            width: 400px;
            height: 400px;
        }
    }
}
