@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    font-family: 'Poppins', serif;
    background: rgb(20, 20, 20);
}

body {
    overflow-x: hidden;
}

.webgl {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    mix-blend-mode: exclusion;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 8rem;
    font-weight: 600;
    color: white;
}

.container,
section {
    height: 100vh;
}

