@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: Poppins;
  color: #ceddec;
}

body {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #ceddec;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

body {
  background: #262833;
}

.App {
  background: #262833;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3rem;
}
